.App {
  text-align: center;
  background-color:#f5f6fa
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.box{
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 margin-top: 10px;
 width:700px;
 height: 100px;
 background-color: white;



}
.char{
  align-items: center;
  display: flex;
  flex-direction: column;
}
.box:hover{
  background-color: #FD7272;
}
.box1{
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 margin-top: 50px;
 width:700px;
 height: 400px;
 margin-left: 20px;
 background-color: white;
padding-left: 20px;


}
.det{
  display: flex;
  flex-direction: row;
  
}
